#contact {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;

    scroll-margin-top: 250px;
}

.contact_container {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact--left_side, .contact--right_side {
    width: 40%;
    height: 500px;
}

.contact--right_side {
    display: flex;
    justify-content: center;
}

.contact--left_side {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact--left_side .title {
    font-family: "Poppins-Bold";
    font-size: 50px;
    line-height: 60px;

    margin-left: 50px;
}

.contact--left_side span {
    color: var(--green);
}

.contact--left_side .bottom {
    display: flex;
    flex-direction: column;
}

.phone_number, .email_adress {
    margin-left: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 10px;

    width: calc(100% - 100px);
}

.phone_number img, .email_adress img {
    width:2.2em;
    margin-right: 15px;

    filter: invert(56%) sepia(71%) saturate(0%) hue-rotate(156deg) brightness(89%) contrast(92%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}

.phone_number p, .email_adress p {
    font-family: "Poppins-Medium";
    font-size: 20px;

    color: var(--gray);
}

.email_adress {
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--gray);
}

.large_icon_container {
    width: 100%;
    height: 125px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.large_icon_container a {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: var(--black);

    display: flex;
    align-items: center;
    justify-content: center;

    outline: transparent;
    outline-offset: 0;

    transition: all .2s ease-in-out;
}

.contact-icon {
    width: 2em;
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(213deg) brightness(103%) contrast(102%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}

.large_icon_container a:hover {
    outline: 2px solid var(--white);
    outline-offset: 4px;

    background-color: var(--white);
}

.large_icon_container a:hover .contact-icon {
    filter: invert(0%) sepia(40%) saturate(0%) hue-rotate(211deg) brightness(104%) contrast(87%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}


/** RIGHT PART **/


.input_box {
    background-color: var(--black);
    width: 90%;

    display: flex;
    flex-direction: column;
    border-radius: 10px;

    padding-top: 10px;
}

.input_box input {
    outline: none;
    margin: 30px 40px 0 40px;
    padding-bottom: 8px;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray);

    color: var(--gray);
    font-family: "CascadiaMono";
    font-size: 20px;

    transition: 0.3s;
}

.input_box textarea {
    background-color: transparent;

    font-family: "CascadiaMono";
    font-size: 20px;
    color: var(--gray);
    background-color: var(--black);

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    margin: 40px 40px 0 40px;
    height: 10vw;
    transition: 0.3s;
    border-radius: 10px;

    scrollbar-width: thin;
    padding: 20px;
    scrollbar-color: var(--green) transparent;
}

.input_box textarea:focus, input:focus{
    outline: 0;
    border-color: var(--white);
    color: var(--white);
}

.input_box div {
    display: flex;
    justify-content: right;

    padding-right: 40px;
    margin: 15px 0 40px 0;
}

.button_send {
    background-color: var(--dark-green);

    width: 150px;
    height: 40px;

    border: none;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button_send p {
    font-family: "Poppins-Bold";
    font-size: 15px;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button_send img {
    position: absolute;

    transform: translateX(270%);

    width: 1.1em;
    opacity: 0;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button_send:hover {
    background-color: var(--green);
}

.button_send:hover p {
    transform: translateX(-15%);
}

.button_send:hover img {
    opacity: 100%;
    transform: translateX(300%);
}