@font-face {
    font-family: 'CascadiaMono';
    src: url('../src/font/CascadiaMono.ttf')
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../font/Poppins-Bold.ttf')
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../src/font/Poppins-Medium.ttf')
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --green: #b2ffa9;
    --gray: #919191;
    --dark-gray: #151515;
    --white: #ffffff;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 55px;

    letter-spacing: 2rem;
}

header p {
    color: var(--green);
    font-family: "CascadiaMono";
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-left: 32px;

    letter-spacing: 0.3px;
    word-spacing: -5px;
}

header span {
    color: var(--white);
    font-family: "Poppins-Bold";
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 1px;

    background: linear-gradient(to right, var(--green), var(--green) 50%, var(--white) 50%);
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 300ms ease-out;
}

header p:hover span {
    cursor: pointer;
    background-position: 0 100%;
}

/** test **/