.side_bar--left, .side_bar--right {
    position: relative;
    display: flex;

    width: 120px;

    align-items: center;
    flex-direction: column-reverse;
}

.side_bar--left div, .side_bar--right div {
    width: 4px;
    height: calc(100% - 650px);

    background-color: var(--gray);
}

.side_bar--left .icon {
    width: 26px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: invert(74%) sepia(0%) saturate(1889%) hue-rotate(164deg) brightness(79%) contrast(81%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}

.instagram-icon, .linkedin-icon {
    margin-bottom: 30px;
}

.github-icon {
    margin-bottom: 45px;
}

.icon:hover {
    cursor: pointer;
    transform: translateX(6px);
}

.side_bar--right p {
    font-family: "CascadiaMono";
    font-size: 21px;
    color: var(--gray);

    rotate: 90deg;
    transform: translateX(-50%);

    margin-bottom: 36px;
}