/** Import some fonts **/
@font-face {
    font-family: 'CascadiaMono';
    src: url('src/font/CascadiaMono.ttf')
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('src/font/Poppins-Bold.ttf')
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('src/font/Poppins-Medium.ttf')
}


/** Remove defaults styles**/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/** Define some colors **/
:root {
    --green: #b2ffa9;
    --dark-green: #65a45e;
    --gray: #919191;
    --dark-gray: #151515;
    --black: #111111f8;
    --white: #ffffff;
}

html {
    scrollbar-width: none; /** Hide the scrollbar on the whole page **/
    scroll-behavior: smooth;
}

/** Set background color on the whole page **/
body {
    background-color: var(--dark-gray);
}

/** Main content **/
main {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

/** Container for the content in the center **/
.center {
    width: calc(100% - 12%);
    display: flex;
    flex-direction: column;
}
/** ------ Mobile Menu ------**/
.mobile_menu_container {
    width: 100%;
}

.mobile_menu {
    z-index: 5;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
}

/** Menu Icon **/
.mobile_menu .menu_icon {
    display: none;
    width: 8vw;
    height: 8vw;
    margin: 8vw;
    filter: invert(100%) sepia(70%) saturate(102%) hue-rotate(359deg) brightness(116%) contrast(100%);
}

/** Menu Navbar **/
.mobile_menu nav {
    display: none;
}

/** Menu Icon Margin **/
.mobile_menu.active .menu_icon {
    margin: 8vw;
}

/** Menu open **/
.mobile_menu.active {
    background-color: var(--black);
    backdrop-filter: blur(5px);
    width: auto;
    height: auto;
}

/** Menu open -> Navbar **/
.mobile_menu.active nav {
    display: block;
    width: 100%;
}

/** Menu open -> ul **/
.mobile_menu.active ul {
    margin-right: 8vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 8vw;
    margin-bottom: 30px;
}

/** Menu open -> Text **/
.mobile_menu.active a {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 2.4vw;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--gray);
}

.mobile_menu.active span {
    font-size: 3vw;
}


/** ------ Header ------ **/
header {
    z-index: 5;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 80px;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** ------ Navbar ------ **/
nav {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Green numbers before Nav Texts **/
nav a {
    display: inline;

    color: var(--green);
    font-family: "CascadiaMono";
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-left: 35px;
    text-decoration: none;

    letter-spacing: -1px;
    word-spacing: -5px;
}

/** Nav Texts **/
nav span {
    color: var(--white);
    font-family: "Poppins-Bold";
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 1px;

    /** Hover Animation Background Filling **/
    background: linear-gradient(to right, var(--green), var(--green) 50%, var(--white) 50%);
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Hover Animation **/
nav a:hover span {
    cursor: pointer;
    background-position: 0 100%;
}

/** Header Scrolling parameters for JS **/
.header--nscroll {
    background-color: var(--dark-gray);
}

.header--scroll {
    background-color: var(--black);
}

.nav--nscroll {
    padding-right: 50px;
    margin-top: 10px;
}

.nav--scroll {
    padding-right: 32px;
    margin-top: 0px;
}

/** ------ Home Page ------ **/
#home {
    scroll-margin-top: 80px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** Summerise Container **/
.summerise {
    margin-top: 180px;
    width: 82%;
    height: 400px;
}

/** First Text **/
.summerise p:nth-of-type(1){
    color: var(--green);
    font-family: "CascadiaMono";
    font-size: 2.2vw;
}

/** Second Text **/
.summerise p:nth-of-type(2){
    color: var(--white);
    font-family: "Poppins-Bold";
    margin: 20px 0 40px 0;
    font-size: 4.8vw;
}

/** Third Text **/
.summerise p:nth-of-type(3){
    color: var(--gray);
    font-family: "CascadiaMono";
    font-size: 2.2vw;
    line-height: 3vw;
}

/** For green words in texts **/
.summerise span {
    color: var(--green);
}

/** Projects Button Container **/
.projects_button {
    border-radius: 6px;

    height: 95px;
    width: 400px;
    margin-top: 8vw;
    position: relative;

    overflow: hidden;
    text-decoration: none;
}

/** Visible Button for Animation **/
.visible_button {
    background-color: var(--dark-gray);
    width: 400px;
    height: 95px;

    outline: 5px solid var(--green);
    outline-offset: -5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Poppins-Bold";
    font-size: 37px;
    color: var(--green);
}

.visible_button:hover {
    cursor: pointer;
}

/** Hidden Button for Animation **/
.hidden_button {
    z-index: 2;
    color: var(--dark-gray);
    background-color: var(--green);

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 468px;

    transform: skew(-42deg) translateX(-480px);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Skew back the Text **/
.hidden_button p {
    transform: skew(42deg);
}

/** ------ Projects Page ------ **/
#projects {
    scroll-margin-top: 160px; /** Move the scroll anchor **/
    height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/** info button for mobile **/
.info_button_mobile {
    display: none;
}

/** My Projects Text Container **/
.my_projects {
    margin-top: 30px;

    width: 80%;
    height: 80px;

    display: flex;
    align-items: center;
}

.openWindow {
    transform: translateY(-17.5%);
    position: absolute;
    width: 100%;
    height: 100%;
}

/** My Projects Text **/
.my_projects p {
    font-family: "CascadiaMono";
    font-size: 25px;
    color: var(--gray);
    border-left: 3px solid var(--green);
    padding-left: 10px;

    animation: blink 0.80s step-end infinite;
}

/** Blink Animation **/
@keyframes blink {
    0% { border-color: var(--green) }
    50% { border-color: transparent }
}

/** Projects Cards Container **/
.projects--container {
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/** Projects Cards **/
.project_box {
    border-radius: 6px;

    width: 23vw;
    height: 23vw;
    position: relative;

    background-size: 100%;
    background-position: center;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Projects Cards Title **/
.project_box .title {
    font-family: "Poppins-Bold";
    font-size: 28px;
    color: var(--white);
    margin-left: 30px;
    margin-top: 20px;

    transform: translateY(-150%); /** Hidden by default **/
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Description Box Hidden by default **/
.description_box {
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: var(--black);

    position: absolute;
    bottom: 0;

    transform: translateY(100%);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Description Text **/
.description_box p {
    font-family: "CascadiaMono";
    font-size: 20px;
    color: var(--white);
}

/** Change Words Color **/
.description_box span {
    color: var(--green);
}

.project_box {
    text-decoration: none;
}

/** ------ About Page ------ **/
#about {
    height: 100vh;
    scroll-margin-top: 180px; /** Move the Scroll Anchor **/

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 50px;
}

/** "A PROPOS DE MOI" Text **/
.title {
    font-family: "Poppins-Bold";
    font-size: 50px;
    color: var(--white);
}

/** About Box **/
.about_container {
    border-radius: 10px;
    margin-top: 50px;
    height: 18vw;
    width: 80%;
    background-color: var(--black);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}

/** Picture of me **/
.about_container img {
    height: 18vw;
    border-radius: 10px 0 0 10px;

    float: left; /** Stay on the left side of the About box **/
    margin-right: 20px;
}

/** About me text **/
.about_container p {
    margin: 20px;
    font-family: "CascadiaMono";
    font-size: 1.4vw;
    color: var(--gray);
    line-height: 1.65vw;
}

/** Infos container (location, driver's liscence, birthday) */
.competence_container {
    margin-top: 30px;

    width: 50%;
    height: 50px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/** Target all elements */
.competence_container .element {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);

    font-family: "Poppins-Medium";
    font-size: 20px;
    color: var(--white);
}

/** Infos icons **/
.competence_container img {
    margin-right: 10px;
    height: 1.5vw;
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(213deg) brightness(103%) contrast(102%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}

/** Open Modal CV Button **/
.CV_button {
    border-radius: 6px;

    height: 95px;
    width: 400px;
    margin-top: 100px;
    position: relative;

    overflow: hidden;
}

/** ------ Contact Page ------**/
#contact {
    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: center;

    scroll-margin-top: 100px; /** Move the Scroll Anchor **/
}

/** Contain the Left Side and the Right Side of the Contact Page **/
.contact_container {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/** Define each parts size **/
.contact--left_side, .contact--right_side {
    width: 40%;
    height: 500px;
}

.contact--left_side {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/** 'Contactez Moi' Title */
.contact--left_side .title {
    font-family: "Poppins-Bold";
    font-size: 50px;
    line-height: 60px;

    margin-left: 50px;
}

/** Change the color of the 'Moi' word **/
.contact--left_side span {
    color: var(--green);
}

/** Container of the Email and Phone number **/
.contact--left_side .bottom {
    display: flex;
    flex-direction: column;
}

.phone_number, .email_adress {
    margin-left: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 10px;

    width: calc(100% - 100px);
}

/** Phone Number - Email icon **/
.phone_number img, .email_adress img {
    width:2.2em;
    margin-right: 15px;

    filter: invert(56%) sepia(71%) saturate(0%) hue-rotate(156deg) brightness(89%) contrast(92%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}

/** Phone Number - Email Texts */
.phone_number p, .email_adress p {
    font-family: "Poppins-Medium";
    font-size: 20px;

    color: var(--gray);
}

/** Gray Bar at the bottom of the Email **/
.email_adress {
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--gray);
}

/** Reddit, Instagram & Linkedin icons container */
.large_icon_container {
    width: 100%;
    height: 125px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/** Black Cirgle **/
.large_icon_container a {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: var(--black);

    display: flex;
    align-items: center;
    justify-content: center;

    outline: transparent;
    outline-offset: 0;

    transition: all .2s ease-in-out;
}

/** Reddit, Instagram & Linkedin icons **/
.contact-icon {
    width: 2em;
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(213deg) brightness(103%) contrast(102%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}

/** Animation on hover **/
.large_icon_container a:hover {
    outline: 2px solid var(--white);
    outline-offset: 4px;

    background-color: var(--white);
}

/** Change the SVG color on hover  **/
.large_icon_container a:hover .contact-icon {
    filter: invert(0%) sepia(40%) saturate(0%) hue-rotate(211deg) brightness(104%) contrast(87%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}


/** Contact Right Part **/
.contact--right_side {
    display: flex;
    justify-content: center;
}

/** Input Box **/
.input_box {
    background-color: var(--black);
    width: 90%;

    display: flex;
    flex-direction: column;
    border-radius: 10px;

    padding-top: 10px;
    padding-bottom: 25px;
}

/** Style the Surname, Name & Email inputs **/
.input_box input {
    outline: none;
    margin: 30px 40px 0 40px;
    padding-bottom: 8px;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray);

    color: var(--gray);
    font-family: "CascadiaMono";
    font-size: 20px;

    transition: 0.3s;
}

/** Style the Text Area **/
.input_box textarea {
    background-color: transparent;

    font-family: "CascadiaMono";
    font-size: 20px;
    color: var(--gray);
    background-color: var(--black);

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    box-sizing: content-box;

    resize: none;
    margin: 40px 40px 0 40px;
    height: 10vw;
    transition: 0.3s;
    border-radius: 10px;

    scrollbar-width: thin;
    padding: 20px;
    scrollbar-color: var(--green) transparent;
}

/** When Focused change the text & border to white **/
.input_box textarea:focus, input:focus{
    outline: 0;
    border-color: var(--white);
    color: var(--white);
}

/** Button Container **/
.input_box div {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
    padding: 0 40px 0 40px;
}

/** Sending Button **/
.button_send {
    background-color: var(--dark-green);

    width: 150px;
    min-width: 150px;
    height: 40px;

    border: none;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input_box div {
    display: flex;
    align-items: center;
}

/** Alert Message **/
#alert {
    font-family: "CascadiaMono";
    font-size: .8em;
}

/** Sending Button Text 'Envoyer' **/
.button_send p {
    display: flex;
    flex-wrap: wrap;

    font-family: "Poppins-Bold";
    font-size: 15px;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Arrow Svg Icon **/
.button_send img {
    position: absolute;

    transform: translateX(270%);

    width: 1.1em;
    opacity: 0;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/** Button Hover animation **/
.button_send:hover {
    cursor: pointer;
    background-color: var(--green);
}

.button_send:hover p {
    transform: translateX(-15%);
}

.button_send:hover img {
    opacity: 100%;
    transform: translateX(300%);
}

/** Button Clicked **/
.button_send:active {
    background-color: var(--dark-green);
}

/**------ Side Bar ------**/
.side_bar--left, .side_bar--right {
    position: relative;
    display: flex;

    width: 6%;

    align-items: center;
    flex-direction: column-reverse;
}

/** Gray bar **/
.side_bar--left div, .side_bar--right div {
    width: .2vw;
    height: calc(100% - 650px); /** -650px for the empty space in #home **/

    background-color: var(--gray);
}

/** Changethe colors of the left bar icons & add transition for the Hover animation **/
.side_bar--left .icon {
    width: 26px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: invert(74%) sepia(0%) saturate(1889%) hue-rotate(164deg) brightness(79%) contrast(81%); /** Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp**/
}

.instagram-icon, .linkedin-icon {
    margin-bottom: 30px;
}

.github-icon {
    margin-bottom: 45px;
}

/** Shift icon when hover **/
.icon:hover {
    cursor: pointer;
    transform: translateX(6px);
}

/** Style the Email in the right sidebar */
.side_bar--right p {
    font-family: "CascadiaMono";
    font-size: 21px;
    color: var(--gray);

    rotate: 90deg;
    transform: translateX(-50%);

    margin-bottom: 36px;
}

/** Modal CV Window **/
.modal_CV {
    display: none;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    position: absolute;
    left: 50%;
    top: 200%;
    z-index: 4;

    transform: translateX(-50%); /** Translate Modal to middle screen **/

    width: 54vh;
    height: 80vh;  
    padding: 5px;

    background-color: #24283b;
    outline: 4px solid #0d0d12;

    border-radius: 10px;
}

/** Change cursor when click **/
.modal_CV:active {
    cursor: move;
}

/** CV img **/
.modal_CV .CV_img {
    position: relative;

    width: 100%;
    height: calc(100% - (30px + 8px));
    border-radius: 0;

    background-size: 113%;
    background-position: 60% 50%;
}

/** Closing Button Container **/
.modal_CV .modal_close_button {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 4px;
}

/** Closing Button Img **/
.modal_CV .modal_close_button_img {
    width: 30px;
    height: 30px;

    /** For the Hover Animation **/
    transition: .15s ease-in;

    background-color: transparent;

    filter: invert(32%) sepia(89%) saturate(3503%) hue-rotate(342deg) brightness(105%) contrast(102%); /** Change SVG color using Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp **/
}

.modal_CV .modal_close_button .open {
    filter: invert(89%) sepia(24%) saturate(644%) hue-rotate(55deg) brightness(103%) contrast(103%);
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

/** Open in new tab button **/
.modal_CV .modal_close_button a {
    margin-left: 10px;
    text-decoration: none;
    color: var(--white);
}

/** Change Close Button Img color on hover */
.modal_CV .modal_close_button_img:hover {
    filter: invert(18%) sepia(71%) saturate(4397%) hue-rotate(354deg) brightness(84%) contrast(91%); /** Change SVG color using Change SVG color using https://codepen.io/sosuke/pen/Pjoqqp **/
}

/** Only computer screen size **/
@media (min-width: 1101px) {

    /** Projects button & CV button **/
    .visible_button:hover .hidden_button {
        transform: skew(-42deg) translateX(0); /** Translate Animation **/
    }

    /** Click Animation **/
    .hidden_button:active {
        background-color: var(--dark-green);
    }

    /** Show the description box **/
    .project_box:hover .description_box {
        transform: translateY(0%);
    }

    /** Darken the img **/
    .project_box:hover {
        background-color: grey;
        background-blend-mode: multiply;
        background-size: 102%;
    }

    /** Show the Title **/
    .project_box:hover .title{
        transform: translateY(0%);
        text-shadow: 0px 7px 8px #111111f8,0px 5px 25px #111111f8;
    }

}


@media (max-width: 1400px) {

    /** Side bar **/
    .side_bar--left div, .side_bar--right div {
        width: 2px;
    }

    .side_bar--left .icon {
        width: 26px;
    }

    .side_bar--right p {
        font-size: 20px;
    }

    /** Summerise Container **/
    .summerise {
        margin-left: 26px;
    }

    /** First Text **/
    .summerise p:nth-of-type(1){
        font-size: 2.6vw;
    }

    /** Second Text **/
    .summerise p:nth-of-type(2){
        font-size: 5.2vw;
    }

    /** Third Text **/
    .summerise p:nth-of-type(3){
        font-size: 2.6vw;
        line-height: 40px;
    }

    /** Projects **/
    .my_projects {
        width: 90%;
        height: 100px;
    }

    /** Project box container **/
    .projects--container {
        width: 90%;
    }

    /** Project box **/
    .project_box {
        width: 26vw;
        height: 26vw;
    }

    /** Project box Title **/
    .title {
        font-size: 46px;
    }

    /** Project Description **/
    .description_box p {
        font-size: 18px;
    }

    /** About Container **/
    .about_container {
        width: 90%;
        height: 23vw;

        justify-content: space-between;
    }

    /** About Img **/
    .about_container img {
        height: 23vw;
    }

    /** About Text **/
    .about_container p {
        font-size: 1.5vw;
        line-height: 2vw;
    }

    /** Contact Input **/
    .contact--right_side {
        width: 50%;
    }

    /** Contact Info **/
    .contact--left_side {
        width: 45%;
    }
}

/** Tablet Width **/
@media (max-width: 1100px) {

    /** remove the magnet scroll **/
    html {
        scroll-snap-type: none;
    }

    /** hide the header **/
    header {
        display: none;
    }

    /** replace the header for a menu */
    .mobile_menu .menu_icon {
        display: block;
    }

    /** Side bar **/
    .side_bar--left, .side_bar--right {
        display: none;
    }

    /** Center elements take 100% width space **/
    .center {
        width: 100%;
    }

    /**------- Home ------**/
    #home {
        height: fit-content;
        width: 100%;
    }

    /** Summerise Container **/
    .summerise {
        margin-top: 100px;
        height: fit-content;
    }

    /** First Text **/
    .summerise p:nth-of-type(1){
        font-size: 2.8vw;
    }

    /** Second Text **/
    .summerise p:nth-of-type(2){
        margin-top: 25px;
        font-size: 6vw;
    }

    /** Third Text **/
    .summerise p:nth-of-type(3){
        font-size: 2.8vw;
        line-height: 4vw;
    }

    /** Hide the project button **/
    .projects_button {
        display: none;
    }

    /**------ Projects ------**/
    #projects {
        margin-top: 10vw;
        display: flex;
        align-items: center;

        height: fit-content;
        scroll-margin-top: 0;
    }

    /** Title **/
    .my_projects {
        width: 100%;
        height: fit-content;

        display: flex;
        justify-content: center;
    }

    /** Info button that show description and title **/
    .info_button_mobile {
        z-index: 2;
        display: block;
        border: none;

        position: absolute;
        right: 12px;
        top: 12px;
        width: 50px;

        border-radius: 50%;
        outline: 2px solid #111111;
        outline-offset: -1px;

        background-color: var(--green);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    /** Info Button Icon **/
    .info_button_mobile img {
        width: 50px;
        filter: invert(0%) sepia(26%) saturate(5249%) hue-rotate(28deg) brightness(90%) contrast(87%);
    }

    /** Projects Container **/
    .projects--container {
        margin-top: 30px;
        width: calc(100vw - 16vw);
        height: fit-content;
    }

    /** When Info Button Clicked **/
    .description_box.mobileactive {
        transform: translateY(0);
    }

    /** Project Description **/
    .description_box.mobileactive p {
        font-size: 2vw;
    }

    /** Darken the background image **/
    .project_box.mobileactive {
        background-color: grey;
        background-blend-mode: multiply;
    }

    /** Project Title **/
    .project_box.mobileactive .title {
        margin-top: 12px;
        font-size: 3.5vw;
        transform: translateY(0);
        text-shadow: 0px 7px 8px #111111f8,0px 5px 25px #111111f8;
    }

    /** Title **/
    .my_projects p {
        border-left: none;

        font-size: 7vw;
        font-family: "Poppins-Bold";
        text-transform: uppercase;
        color: var(--white);
    }

    /** Calc Project Box width **/
    .project_box {
        width: calc(((100vw - 16vw) / 2) - 4px);
        height: calc(((100vw - 16vw) / 2) - 4px);
        margin-bottom: 8px;
    }

    /**------ About ------ **/
    #about {
        margin-top: 15vw;
        padding-top: 0;
        scroll-margin-top: -40px;
        height: fit-content;
    }

    /** Title **/
    #about .title {
        font-size:  7vw;
    }

    /** About text container */
    .about_container {
        margin-top: 30px;
        width: calc(100vw - 16vw);
        height: fit-content;
    }

    /** About picture **/
    .about_container img {
        border-radius: 10px;
        height: 23vw;
    }

    /** About text **/
    .about_container p {
        margin: 30px;
        font-size: 2.2vw;
        line-height: 3vw;
    }

    /** Location, Driver's liscence & birthday date container */
    .competence_container {
        margin-top: 4vw;
        width: 70vw;
    }

    /** Competence Icons **/
    .competence_container img {
        width: 3vw;
        height: 3vw;
    }

    /** Competence Text **/
    .competence_container p {
        font-size: 2.5vw;
    }

    /** Open Modal CV button **/
    .CV_button {
        margin-top: 8vw;
        width: 50vw;
        height: 10vw;
    }

    /** CV button visible part **/
    .CV_button .visible_button {
        background-color: var(--green);
        height: 100%;
        width: 100%;
        outline: none;
    }

    /** CV button visible part clicked **/
    .CV_button .visible_button:active {
        background-color: var(--dark-green);
    }

    /** CV button visible part text **/
    .CV_button .visible_button p {
        color: var(--black);
        font-size: 4vw
    }

    /** CV button hidden part **/
    .CV_button .hidden_button {
        display: none;
    }

    /** Modal CV window size **/
    .modal_CV {
        width: 62vh;
        height: 90vh;  
    }

    /**------ Contact ------*/
    #contact {
        margin-top: 15vw;
        height: fit-content;
    }

    /** Contact Container **/
    .contact_container {
        width: calc(100vw - 16vw);
        justify-content: space-between;

        display: flex;
        flex-direction: column;
    }

    /** Contact Info Part **/
    .contact--left_side {
        width: 100%;
        height: fit-content;

        display: flex;
        align-items: center;

        justify-content: normal;
    }

    /** 'Contactez Moi' Title **/
    .contact--left_side .title {
        font-size: 7vw;
        word-spacing: 1.4vw;
        margin: 0;
    }

    /** Remove the Title line break  */
    .contact--left_side .title br {
        display: none;
    }

    /** Contact Info Bottom Buttons Container **/
    .contact--left_side .bottom {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        flex-wrap: wrap;
    }    

    /** Phone Number & Mail adress Container **/
    .email_adress, .phone_number {
        border: none;
        padding: 0;
        margin: 0;
        margin-top: 60px;
    }

    /** Email Adress container **/
    .email_adress {
        margin-top: 20px;
    }

    /** Bottom Button Container */
    .large_icon_container {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 2px solid var(--gray);
    }

    /** Contact Input Container **/
    .contact--right_side {

        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: fit-content;
    }

    /** Inputs Box **/
    .input_box {
        width: 100%;
    }

    /** Message Input **/
    .input_box textarea {
        height: 20vw;
    }
}

/** Phone Width **/
@media (max-width: 550px) {

    /** Home Summerise **/
    .summerise {
        margin-top: 10vw;
    }

    /**------ Projects ------**/
    #projects {
        margin-top: 8vw;
    }

    /** Project Box Title when Info button clicked **/
    .project_box.mobileactive .title {
        font-size: 6vw;
    }

    /** Project Box Description when Info button clicked **/
    .project_box.mobileactive p {
        font-size: 4vw;
    }

    /** Project Title Container **/
    .my_projects {
        height: fit-content;
    }

    /** Project Title **/
    .my_projects p {
        font-size: 6vw;
    }

    /** Project Box Container **/
    .projects--container {
        display: flex;
        justify-content: center;
    }

    /** Project Box Size **/
    .project_box {
        width: calc(100vw - 16vw);
        height: calc(100vw - 16vw);
    }

    /**------ About ------ **/
    #about {
        margin-top: 8vw;
    }

    /** About Text **/
    .about_container p {
        font-size: 3.5vw;
        line-height: 4.4vw;
    }

    /** Competence Container **/
    .competence_container {
        margin-top: 4vw
    }

    /** Competence Icon **/
    .competence_container .element img {
        width: 4vw;
        height: 4vw;
    }

    /** Competence Text **/
    .competence_container .element p {
        font-size: 3vw;
    }

    /** Modal CV Window **/
    .modal_CV {
        width: 80vw;
        height: 120vw;  
    }

    /** Open Modal CV button **/
    .CV_button {
        margin-top: 8vw;
        width: 70vw;
        height: 15vw;
    }

    /** Phone number & email adress Container **/
    .phone_number, .email_adress {
        width: 100%;
    }

    /** Phone number & email adress Icon **/
    .phone_number img, .email_adress img {
        width: 6vw;
        height: 6vw;
    }

    /** Phone number & email adress text **/
    .phone_number p, .email_adress p {
        font-size: 4vw;
    }

    /** Font size of all inputs **/
    #Surname, #Name, #Email, #Message {
        font-size: 4vw;
    }

    /** Message Input **/
    .input_box textarea {
        height: 20vh;
    }

}